<nav>
    <div>
        <a href="/"><h1>Homár vagy.</h1></a>
        <p> Nekem igazam van, és neked pedig nem.</p>
    </div>
    <ul>
        <li><a href="/">Lajstrom</a></li>
        <li><a href="/about">Krónika</a></li>
        <li><a href="/blogs/create">Kunstrukció</a></li>
    </ul>
</nav>