
<html lang ="en">
    <%- include('./partials/header.ejs') %> 
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>404 - Néger vagy.</h1>
        <img src="https://hungarianfood.shop/wp-content/uploads/2017/05/gyori_negro_filled_hard_candy_159g_classic.png" alt="negro">
        <%- include('./partials/footer.ejs') %>
    </body>
</html>