<html lang ="en">
   <%- include('./partials/header.ejs') %> 
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About us</h2>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
            <p>Szöveg</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>