<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0">
        <title> ehehe | <%= valtozo %> </title>
        <link rel="stylesheet" href="/css" type="text/css">
    </head>
    <body>

        <nav>
            <div>
                <a href="/"><h1>Homár vagy.</h1></a>
                <p> Nekem igazam van, és neked pedig nem.</p>
            </div>
            <ul>
                <li><a href="/">Lajstrom</a></li>
                <li><a href="/about">Krónika</a></li>
                <li><a href="/blogs/create">Kunstrukció</a></li>
            </ul>
        </nav>

        <div class="blogs content">
            <% if(object.length != 0){ %>
                <% object.forEach(blog => { %>
                    <h3><%=blog.title%></h3>
                    <p><%=blog.snippet%></p>
                <% }); %>
            <% } %> 
        </div>

    </body>
</html>